<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" dir="ltr">
            <p>Question #{{$ctrl.index}}
                <small ng-if="!$ctrl.edit"><strong>({{$ctrl.question.score}} Points)</strong></small>
                <small ng-if="$ctrl.edit"><strong>({{$ctrl.question.type}})</strong></small>
            </p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <textarea placeholder="Question text" ng-model="$ctrl.question.question"
                class="form-control" ng-if="$ctrl.edit" rows="2">
            </textarea>
        </div>
    </div>

    <div class="row" ng-if="!$ctrl.edit">
        <div class="col-xs-12">
            <p class="question" >{{$ctrl.question.question}}</p>
        </div>
    </div>

    <label ng-if="$ctrl.edit">Choices</label>
    <div ng-repeat="choice in $ctrl.question.choices">
        <div class="row">
            <div class="col-xs-1 col-xs-push-11 col-sm-1 col-sm-push-11 col-md-1 col-md-push-11">
                <p class="choice-index">{{$index+1}}. </p>
            </div>
            <div class="col-xs-10 col-sm-4 col-sm-offset-6  col-md-4 col-md-offset-6">
                <p ng-class="{'choice-correct': $ctrl.question.choiceIsCorrect($index)}" 
                    class="choice">{{choice}}</p>
            </div>
        </div>
        <input type="button" value="x" tabindex="-1" ng-if="$ctrl.edit"
            ng-click="$ctrl.question.choiceRemove($index)">
        <input type="button" value="&#9660;" tabindex="-1" ng-if="$ctrl.edit"
            ng-click="$ctrl.question.choiceMoveDown($index)">
        <input type="button" value="&#9650;" tabindex="-1" ng-if="$ctrl.edit"
            ng-click="$ctrl.question.choiceMoveUp($index)">
    </div>
    <form ng-submit="$ctrl.choiceAdd()" ng-if="$ctrl.edit">
        <input type="text" placeholder="Add choice" ng-model="$ctrl.new_choice">
        <input type="submit" value="Add" tabindex="-1">
    </form>

    <div ng-if="$ctrl.edit">
        <label>Correct Choice</label>
        <select ng-model="$ctrl.question.answer">
            <option value="" disabled>-- Correct Choice --</option>
            <option ng-repeat="choice in $ctrl.question.choices" value="{{choice}}">{{choice}}</option>
        </select>
        <br>
    </div>

    <div ng-if="$ctrl.edit">
        <label>Score</label>
        <input type="text" placeholder="points" ng-model="$ctrl.question.score">
    </div>

    <!-- todo: -->
    <!-- <ng-transclude></ng-transclude> -->
</div>