<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" dir="ltr">
            <h3>Question #{{$ctrl.index}}
                <small ng-if="!$ctrl.edit"><strong>({{$ctrl.question.score}} Points)</strong></small>
                <small ng-if="$ctrl.edit"><strong>({{$ctrl.question.type}})</strong></small>
            </h3>
        </div>
    </div>
    <hr ng-if="$ctrl.edit">

    <div class="row">
        <div class="col-xs-12">
            <textarea placeholder="Question text" ng-model="$ctrl.question.question"
                class="form-control" ng-if="$ctrl.edit" rows="2">
            </textarea>
        </div>
    </div>
    <div class="row" ng-if="!$ctrl.edit">
        <div class="col-xs-12">
            <p class="question">{{$ctrl.question.question}}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12" ng-repeat="choice in $ctrl.question.choices">
            <span class="col-xs-10 col-xs-offset-2 col-md-5 col-md-push-7 col-md-offset-0">
                <span class="choice-index">{{$index+1}}. </span>
                <span ng-class="{'choice-correct': $ctrl.question.choiceIsCorrect($index)}" 
                class="choice">{{choice}}</span>
            </span>
            <span class="col-xs-12 col-xs-pull-1 col-md-7 col-md-pull-5 choice-controls" ng-if="$ctrl.edit">
                <input type="button" value="x" tabindex="-1" class="btn-delete btn btn-danger"
                    ng-click="$ctrl.question.choiceRemove($index)">
                <input type="button" value="&#9660;" tabindex="-1" class="btn-move btn btn-blue"
                    ng-click="$ctrl.question.choiceMoveDown($index)">
                <input type="button" value="&#9650;" tabindex="-1" class="btn-move btn btn-blue"
                    ng-click="$ctrl.question.choiceMoveUp($index)">
            </span>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <form class="from-horizontal" ng-submit="$ctrl.choiceAdd()" ng-if="$ctrl.edit">
                <div class="form-group">
                    <input class="col-xs-8 col-xs-offset-3 col-md-4 col-md-push-7 col-md-offset-0"
                        type="text" placeholder="Add choice" ng-model="$ctrl.new_choice">
                    <span class="col-xs-12 col-xs-pull-1 col-md-8 col-md-pull-5">
                        <input class="btn btn-blue" type="submit" value="Add" tabindex="-1">
                    </span>
                </div>
            </form>
        </div>
    </div>
    
    <br>
    <div class="row" dir="ltr" ng-if="$ctrl.edit">
        <div class="col-xs-12">
            <label class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">Correct Choice:</label>
            <span class="col-xs-12 col-sm-5">
                <select class="form-control input-lg" ng-model="$ctrl.question.answer">
                    <option value="" disabled>-- Correct Choice --</option>
                    <option ng-repeat="choice in $ctrl.question.choices" value="{{choice}}">{{choice}}</option>
                </select>
            </span>
        </div>
    </div>

    <br>
    <div class="row" dir="ltr" ng-if="$ctrl.edit">
        <div class="col-xs-12">
            <label class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">Score:</label>
            <span class="col-xs-12 col-sm-2">
                <input class="form-control" type="text" placeholder="points" ng-model="$ctrl.question.score">
            </span>
        </div>
    </div>
    <hr ng-if="$ctrl.edit">
</div>