<div class="container">
    <div class="row">
        <h3 class="col-xs-12">{{$ctrl.title}}</h3>
    </div>
    <form class="row form-group insert-content-container"
        ng-submit="$ctrl.insertContent($event)" dir="rtl">
        <!-- note: rtl only affects ordering of elements INSIDE a "col-xs"
        not col-xs themselves, to re-order col-xs use col-xs-push and col-xs-pull -->
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <select ng-model="$ctrl.insert_book" class="form-control"
                ng-change="$ctrl.getBookNameShort()">
                <option value="" hidden>-- اختر السفر --</option>
                <option value="" disabled>-- العهد القديم --</option>
                <option ng-repeat="book in $ctrl.insert_books"
                    ng-if="book.is_old_testament"
                    value="{{book.book_name_en}}">
                    {{book.book_name}}
                </option>
                <option value="" disabled>-- العهد الجديد --</option>
                <option ng-repeat="book in $ctrl.insert_books"
                    ng-if="!book.is_old_testament"
                    value="{{book.book_name_en}}">
                    {{book.book_name}}
                </option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <label>({{$ctrl.insert_book_name_short}}</label>
            <input type="number" ng-model="$ctrl.insert_chapter" min="1">
            <label>:</label>
            <input type="number" ng-model="$ctrl.insert_verse_start" min="1">
            <label>-</label>
            <input type="number" ng-model="$ctrl.insert_verse_end" min="1">
            <label>)</label>
        </div>
        <div class="col-xs-12 col-sm-2 col-sm-pull-8">
            <input type="submit" value="Insert"
                class="btn btn-primary form-control">
        </div>
    </form>
    <div dir="rtl">
        <div class="row">
            <div class="col-xs-12">
                <div class="row form-horizontal form-group">
                    <label class="col-xs-12 col-sm-2 col-sm-push-10 col-md-2 col-md-push-10">رقم القراءة</label>
                    <!-- todo: fix - bad layout on xs view -->
                    <input class="col-xs-12 col-sm-2 col-sm-push-6 col-md-1 col-md-push-7"
                        type="text" ng-model="$ctrl.reading.number">
                </div>
            </div>
        </div>
        
        

        <div class="row form-group">
            <label class="col-xs-12 col-sm-2 col-sm-push-10 col-md-2 col-md-push-10">الشاهد</label>
            <input class="col-xs-12 col-sm-3 col-sm-push-5 col-md-3 col-md-push-5"
                type="text" ng-model="$ctrl.reading.shahed">
        </div>
        <div class="form-group">
            <textarea ng-model="$ctrl.reading.content" class="form-control" rows="12"></textarea>
        </div>
        <div class="row form-group" dir="ltr">
            <div class="col-xs-12">
                <label>Sound Link</label>
                <div class="row">
                    <div class="col-md-8">
                        <pre>{{$ctrl.reading.sound || 'No link'}}</pre>
                    </div>
                    <div class="col-md-4 text-center">
                        <audio src="{{$ctrl.reading.sound}}" preload="metadata"
                            class="audio-player" controls>
                            Audio element not supported in your browser
                        </audio>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <input type="button" value="Direct Link"
                            ng-click="$ctrl.soundDirectLink($event)" class="btn btn-primary form-control">
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <input type="button" value="Google Drive Link"
                            ng-click="$ctrl.soundGoogleDriveLink($event)" class="btn btn-primary form-control">
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <input type="button" value="Remove Link" ng-disabled="!$ctrl.reading.sound"
                            ng-click="$ctrl.soundRemoveLink($event)" class="btn btn-danger form-control">
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <div ng-repeat="question in $ctrl.reading.questions">
            <div ng-switch="question.type">
                <question-mcq question="question" edit="true" ng-switch-when="mcq" index="{{$index+1}}"></question-mcq>
                <question-essay question="question" edit="true" ng-switch-when="essay" index="{{$index+1}}"></question-essay>
                <div class="col-xs-12 question-controls" dir="ltr">
                    <div class="col-xs-12">
                        <input type="button" value="Delete Question" tabindex="-1"
                            ng-click="$ctrl.reading.questionRemove($index)" class="btn btn-danger">
                        <input type="button" value="&#9660;" tabindex="-1"
                            ng-click="$ctrl.reading.questionMoveDown($index)" class="btn btn-blue">
                        <input type="button" value="&#9650;" tabindex="-1"
                            ng-click="$ctrl.reading.questionMoveUp($index)" class="btn btn-blue">
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <br>

        <div class="row" dir="ltr">
            <div class="col-xs-12 col-sm-4 col-sm-offset-3 form-group">
                <select ng-model="$ctrl.new_question_type" class="form-control">
                    <option value="" disabled>-- Question Type --</option>
                    <option value="mcq">MCQ</option>
                    <!-- <option value="essay">Essay</option> -->
                </select>
            </div>
            <div class="col-xs-12 col-sm-2">
                <input type="button" value="Add Question" class="btn btn-lg btn-primary"
                    ng-click="$ctrl.questionAdd()">
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-xs-12 text-center">
            <input type="button" value="Save" ng-click="$ctrl.save()"
                ng-disabled="!$ctrl.can_save" class="btn btn-primary btn-lg">
            <input type="button" value="Discard" ng-click="$ctrl.discard($event)"
                class="btn btn-primary btn-lg">
            <p ng-if="$ctrl.show_save_msg">{{$ctrl.save_msg}}</p>
        </div>
    </div>
    <br>
</div>