<div class="container">
    <div class="row">
        <h3 class="col-xs-12">{{$ctrl.title}}</h3>
    </div>
    <div dir="rtl">
        <div class="col-xs-12">
            <div class="from-horizontal">
                <div class="row form-group">
                    <label class="col-xs-12 col-sm-2 col-sm-push-10 col-md-2 col-md-push-10">رقم القراءة</label>
                    <input class="col-xs-12 col-sm-2 col-sm-push-6 col-md-1 col-md-push-7"
                        type="text" ng-model="$ctrl.reading.number">
                </div>
                <div class="row form-group">
                    <label class="col-xs-12 col-sm-2 col-sm-push-10 col-md-2 col-md-push-10">الشاهد</label>
                    <input class="col-xs-12 col-sm-3 col-sm-push-5 col-md-3 col-md-push-5"
                        type="text" ng-model="$ctrl.reading.shahed">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <textarea ng-model="$ctrl.reading.content" class="form-control" rows="12"></textarea>
        </div>
        <div class="form-group" dir="ltr">
                <label>Sound Link</label>
                <textarea placeholder="link" ng-model="$ctrl.reading.sound"
                    class="form-control" rows="2"></textarea>
        </div>
        
        <br>
        <div ng-repeat="question in $ctrl.reading.questions">
            <div ng-switch="question.type">
                <question-mcq question="question" edit="true" ng-switch-when="mcq" index="{{$index+1}}"></question-mcq>
                <question-essay question="question" edit="true" ng-switch-when="essay" index="{{$index+1}}"></question-essay>
                <div class="col-xs-12 question-controls" dir="ltr">
                    <div class="col-xs-12">
                        <input type="button" value="Delete Question" tabindex="-1"
                            ng-click="$ctrl.reading.questionRemove($index)" class="btn btn-danger">
                        <input type="button" value="&#9660;" tabindex="-1"
                            ng-click="$ctrl.reading.questionMoveDown($index)" class="btn btn-blue">
                        <input type="button" value="&#9650;" tabindex="-1"
                            ng-click="$ctrl.reading.questionMoveUp($index)" class="btn btn-blue">
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <br>

        <div class="row" dir="ltr">
            <div class="col-xs-12 col-sm-4 col-sm-offset-3 form-group">
                <select ng-model="$ctrl.new_question_type" class="form-control">
                    <option value="" disabled>-- Question Type --</option>
                    <option value="mcq">MCQ</option>
                    <!-- <option value="essay">Essay</option> -->
                </select>
            </div>
            <div class="col-xs-12 col-sm-2">
                <input type="button" value="Add Question" class="btn btn-lg btn-primary"
                    ng-click="$ctrl.questionAdd()">
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-xs-12 text-center">
            <input type="button" value="Save" ng-click="$ctrl.save()"
                ng-disabled="!$ctrl.can_save" class="btn btn-primary btn-lg">
            <input type="button" value="Discard" ng-click="$ctrl.discard()"
                class="btn btn-primary btn-lg">
            <p ng-if="$ctrl.show_save_msg">{{$ctrl.save_msg}}</p>
        </div>
    </div>
    <br>
</div>